body {
  background-color: #fcf5e0;
}
#content {
  width: 980px;
  margin: 0 auto;
} 
#entries {
  list-style: none;
  padding: 0;
  width: 100%;
}
#add-url {
  display: inline;
}
#entries li {
  margin: 3px 1px;
  padding: 10px 5px;
  border: 1px solid #d9a815;
  background-color: #fdfaef;
}
#entries li > div {
  padding: 2%;
}
#entries li.active > span {
  display: none;
}
#entries li.read {
  background: #fafafa;
}
a {
  color: #ba9012;
  text-decoration: none;
}

footer {
  font-size: 11px;
  color: #ba9012;
  font-style: italic;
}
